.container {
     max-width: 85rem;
     margin: 0 auto;
     padding: 0 $m-size;
}

.table {
     margin-top: 40px;
}

#ml-map {
     max-width: 150%;
     max-height: 150%;
}

td::selection, th::selection {
     background-color: #a51c30;
     color: white;
}
