
.container {
     max-width: 40%;
     // margin: 0 auto;
     padding: 0 $m-size;
     margin-left: 15%;
}

.summary {
     margin: 0 auto;
}


.table {
     margin-top: 40px;
}

.Plot {
     overflow-x: auto;
}

#ml-map {
     max-width: 150%;
     max-height: 150%;
}

td::selection, th::selection {
     background-color: #a51c30;
     color: white;
}

