.image {
     float: left;
     margin: 20px;
     transition: transform .75s;
     box-shadow: 10px 10px $purple;
     float: left;
}

.row {
     display: flex;
}

.column {
     flex: 33.33%;
     padding: 5px;
}

.image:hover {
     transform: scale(1.7);
}

.btn {
     background-color: $purple;
     border-color: $purple !important;
}

.btn-success {
     border-color: $purple !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:visited {
     background-color: $purple !important;
     border-color: $purple !important;
}