.option {
     border: 5px solid lighten($light-blue, 10%);
     padding: $l-size $m-size;
}

.option__text {
     // color: white;
     font-weight: 500;
     font-size: 2rem;
     margin: 0;
}

.title {
     background-image: linear-gradient(#a51c30, #a51c30 - 70%);
     border: none;
     // color: white;
     font-weight: bold;
     font-size: $l-size;
     margin-bottom: $m-size;
     padding: 2.4rem;
     width: 100%;
     text-align: center;
     color: white;
}

