.sidenav {
     height: 100%;
     /* Full-height: remove this if you want "auto" height */
     width: 8%;
     /* Set the width of the sidebar */
     position: fixed;
     /* Fixed Sidebar (stay in place on scroll) */
     // z-index: 1;
     /* Stay on top */
     top: 0;
     /* Stay at the top */
     left: 0;
     margin-right: 10px;
     background-color: #a51c30;
;
     /* Black */
     // overflow-x: hidden;
     /* Disable horizontal scroll */
     padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 15px;
     color: white;
     display: block;
     border-bottom: 1px solid black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
     color: #f1f1f1;
}
// No longer in use.
// .dropdown {
//      position: relative;
//      display: inline-block;
// }

// .dropdown-content {
//      display: none;
//      position: absolute;
//      background-color: $off-black;
//      text-emphasis-color: white;
//      min-width: 25%;
//      min-height: 350px;
// }

// .dropdown:hover .dropdown-content {
//      display: block;
// }

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
     .sidenav {
          padding-top: 15px;
     }

     .sidenav a {
          font-size: 18px;
     }
}
