html {
     font-size: 62.5%;
}

body {
     // background: #333745;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 1.6rem;
}

button {
     cursor: pointer;
}

.btn {
     background-color: #a51c30;
     border: none;
     transition-duration: 0.4s;
}

.btn:hover {
     background-color: darken(#a51c30, 20%);

}

button:disabled {
     cursor: default;
}

// /* width */
// ::-webkit-scrollbar {
//      width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//      background: #8357c5;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//      background: #271a3b;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//      background: #4E3476;
// }